html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #eee9de;
}

h2 {
  font-family: Lato, sans-serif;
}

p {
  font-family: Lato, sans-serif;
}

img {
  width: 100%;
  max-width: 448px;
  display: block;
  float: left;
}

a:hover {
  background-color: #f33;
  text-decoration: underline;
}
